WAHA_API_KEY=xxxxxxx
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=xxxxxxxxxx
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=xxxxxxxxxxx

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=N8N
      - N8N_PORT=5678
      - N8N_PROTOCOL=https  
      - NODE_ENV=development
      - GENERIC_TIMEZONE= Asia/Jakarta
      - TZ=Asia/Jakarta
      - N8N_SECURE_COOKIE=false